.contenedor__pokedex{
    margin-top: 50px;
    margin-left: 50px;
    width: 600px;
    height: 400px;
    background-color: red;
    border: solid red 1px;
    border-radius: 16px;
    
}
.contenedor__pokedex--borde{
    display: flex;
    flex-direction: row;
    width: 589px;
    height: 389px;
    margin-top: 5px;
    margin-left: 5px;
    border: solid black 1px;
    border-radius: 12px;
    justify-content: space-between;
    padding: 5px;
}
.contenedor__pokedex--pokemon{
    width: 250px;
    border:  solid black 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    background-color: rgb(216, 4, 4);
}
.contenedor__pokedex--titulo{
    height: 50px;
    background: linear-gradient( 20deg , red(3, 230, 3) 40%, white,red);
    border: solid black 1px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: red;
    padding: 10px;
    
}
.contenedor__pokedex--imagen{
    width: 200px;
    height: 150px;
    background-color: white;
    border-bottom-left-radius: 20%;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.contenedor__pokedex--pantalla{
    width: 160px;
    height: 100px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor__pokedex--centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor__pokedex--tamaño{
    width: 121px;
    height: 121px;
    filter: saturate(1);
}
.contenedor__pokedex--encendido{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: red;
    filter: saturate(200%);
    border: solid black 1px;
}
.contenedor__pokedex--start{
    width:100px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.power__button{
    width: 80px;
    border-radius: 16px;
}
.power{
    width: 50px;
    color: red; 
}
.power1{
    width: 50px;
    color: rgb(9, 236, 1); 
}
.contenedor__pokedex--flecha{
    width:150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.contenedor__pokedex--derecha{
    width: 40px;
    height: 40px;
    color: orangered;
    background-color: white;
    border: solid orangered 1px;
}
.contenedor__pokedex--izquierda{
    width: 40px;
    height: 40px;
    color: orangered;
    background-color: white;
    border: solid orangered 1px;
}

.contenedor__pokedex--eje{
    width: 50px;
    border:  solid black 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(216, 4, 4);
}
.contenedor__pokedex--info{
    width: 250px;
    border:  solid black 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(216, 4, 4);    
}
.contenedor__pokedex--botones{
    width: 100%;
    height: 50px;
    border: black solid 1px;
    border-radius: 1px;
    background: red;
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.boton_informacion{
    width: 100px;
    height: 40px;
    background-color: yellow;
    color: white;
    border-radius: 10px;
}
.boton_evoluciones{
    width: 100px;
    height: 40px;
    background-color: rgb(9, 236, 1);
    color: white;
    border-radius: 10px;
}


.contenedor__pokedex--tiempo{
    height: 80px;
    border: solid black 1px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 150px 40px 20px;
    align-items: center;
    padding: 5px;
    background-color: red;
}
.hora{
    width: 30px;
    height: 30px;
    background-color: black;
    color: orangered;
}
.wifi{
    height: 30px;
    background-color: black;
    color: rgb(9, 236, 1);
    filter: saturate(200%);
    transition-property: color;
    transition-duration: 2.5s;
}
.wifi1{
    height: 30px;
    background-color: black;
    color: white;
    transition-property: color;
    transition-duration: 2.5s;
}
.contenedor__pokedex--tiempo--hora{
    width: 140px;
    height: 50px;
    background: black;
    color: yellow;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    transition-property: color;
    transition-duration: 25s;
}
.contenedor__pokedex--evo{
    height: 100px;
    background: black;
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 5px;
}
.contenedor__pokedex--evo--info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Press Start 2P', cursive;
}
.contenedor__pokedex--evo--info2{
    color: yellow;
    font-size: 15px;
}
.contenedor__pokedex--evo--info3{
    color: white;
    font-size: 8px;
    }
.contenedor__pokedex--evo--pokemon{
    width: 75px;
    height: 75px;
    
}
.contenedor__pokedex--pokedex{
    height: 80px;
    border: solid black 1px;
    background: linear-gradient( 20deg, cyan 40%, white,cyan);
    display: grid;
    grid-template-columns:  40px 40px 40px 40px ;
    grid-template-rows: 40px;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
}
.contenedor__pokedex--pokedex--imagen{
    width: 30px;
    height: 30px;
    filter: saturate(200%);
}
.contenedor__pokedex--separacion{
    height: 150px;
    border: solid black 1px;
    background: linear-gradient( 20deg , red 80%, rgb(255, 58, 58) ,red  );
    
}

@media (max-width: 576px) {
    
    .contenedor__pokedex{
        margin-top: 50px;
        margin-left: 50px;
        width: 510px;
        height: 400px;
        background-color: red;
        border: solid red 1px;
        border-radius: 16px;
        margin-left: 1px;  
    }
    .contenedor__pokedex--borde{
        display: flex;
        flex-direction: row;
        width: 500px;
        height: 389px;
        margin-top: 5px;
        margin-left: 5px;
        border: solid black 1px;
        border-radius: 12px;
        justify-content: space-between;
        padding: 5px;
    }
    .contenedor__pokedex--pokemon{
        width: 230px;
        border:  solid black 1px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;
        background-color: rgb(216, 4, 4);
    }
    .contenedor__pokedex--titulo{
        height: 50px;
        background: linear-gradient( 20deg , red(3, 230, 3) 40%, white,red);
        border: solid black 1px;
        font-family: 'Press Start 2P', cursive;
        color: white;
        text-align: center;
        vertical-align: middle;
        background-color: red;
        padding: 10px;
        
    }
    .contenedor__pokedex--imagen{
        width: 200px;
        height: 150px;
        background-color: white;
        border-bottom-left-radius: 20%;
        border: solid black 1px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .contenedor__pokedex--pantalla{
        width: 160px;
        height: 100px;
        background-color: black;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor__pokedex--centro{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor__pokedex--tamaño{
        width: 121px;
        height: 121px;
        filter: saturate(1);
    }
    .contenedor__pokedex--encendido{
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        background-color: red;
        filter: saturate(200%);
        border: solid black 1px;
    }
    .contenedor__pokedex--start{
        width:100px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        padding: 5px;
    }
    .power__button{
        width: 80px;
        border-radius: 16px;
    }
    .power{
        width: 50px;
        color: red; 
    }
    .power1{
        width: 50px;
        color: rgb(9, 236, 1); 
    }
    .contenedor__pokedex--flecha{
        width:150px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .contenedor__pokedex--derecha{
        width: 40px;
        height: 40px;
        color: orangered;
        background-color: white;
        border: solid orangered 1px;
    }
    .contenedor__pokedex--izquierda{
        width: 40px;
        height: 40px;
        color: orangered;
        background-color: white;
        border: solid orangered 1px;
    }
    
    .contenedor__pokedex--eje{
        width: 50px;
        border:  solid black 1px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px;
        background-color: rgb(216, 4, 4);
    }
    .contenedor__pokedex--info{
        width: 250px;
        border:  solid black 1px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        background-color: rgb(216, 4, 4);    
    }
    .contenedor__pokedex--botones{
        width: 100%;
        height: 50px;
        border: black solid 1px;
        border-radius: 1px;
        background: red;
        display: flex;
        flex-direction: row;   
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
    .boton_informacion{
        width: 100px;
        height: 40px;
        background-color: yellow;
        color: white;
        border-radius: 10px;
    }
    .boton_evoluciones{
        width: 100px;
        height: 40px;
        background-color: rgb(9, 236, 1);
        color: white;
        border-radius: 10px;
    }
    
    
    .contenedor__pokedex--tiempo{
        height: 80px;
        border: solid black 1px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 110px 40px 20px;
        align-items: center;
        padding: 5px;
        background-color: red;
    }
    .hora{
        width: 30px;
        height: 30px;
        background-color: black;
        color: orangered;
    }
    .wifi{
        height: 30px;
        background-color: black;
        color: rgb(9, 236, 1);
        filter: saturate(200%);
        transition-property: color;
        transition-duration: 2.5s;
    }
    .wifi1{
        height: 30px;
        background-color: black;
        color: white;
        transition-property: color;
        transition-duration: 2.5s;
    }
    .contenedor__pokedex--tiempo--hora{
        width: 100px;
        height: 50px;
        background: black;
        color: yellow;
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        transition-property: color;
        transition-duration: 25s;
        display: grid;
        justify-content: center;
        align-content: center;
        font-size: 10px;
    }
    .contenedor__pokedex--evo{
        height: 100px;
        background: black;
        border: solid black 1px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        padding: 5px;
    }
    .contenedor__pokedex--evo--info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: 'Press Start 2P', cursive;
    }
    .contenedor__pokedex--evo--info2{
        color: yellow;
        font-size: 15px;
    }
    .contenedor__pokedex--evo--info3{
        color: white;
        font-size: 8px;
        }
    .contenedor__pokedex--evo--pokemon{
        width: 60px;
        height: 55px;
        
    }
    .contenedor__pokedex--pokedex{
        height: 80px;
        border: solid black 1px;
        background: linear-gradient( 20deg, cyan 40%, white,cyan);
        display: grid;
        grid-template-columns:  40px 40px 40px 40px ;
        grid-template-rows: 40px;
        justify-content: space-around;
        justify-items: center;
        align-content: center;
    }
    .contenedor__pokedex--pokedex--imagen{
        width: 30px;
        height: 30px;
        filter: saturate(200%);
    }
    .contenedor__pokedex--separacion{
        height: 150px;
        border: solid black 1px;
        background: linear-gradient( 20deg , red 80%, rgb(255, 58, 58) ,red  );
        
    }



}
