.contenedor__cartas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tamaño--carta{
    width: 200px;
    height: 150px;
}
.cartagrande{
    text-transform: capitalize;
}

.card{
    background-color: white;
    width: 326px;
    border-radius: 16px;
    margin-top: 50px;
    margin-left: 10px;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.383);
}
.card-body-img {
    width: 220px;
    height: 170px;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: calc(-48px - 5px);
    background-color: white;
  }
  .card-body-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  .card-body-title span {
    font-weight: 300;
    color: gray;
  }
  .card-body-text {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .card-footer {
    display: flex;
    justify-content: space-around;
  }
  .card-footer-social {
    text-align: center;
    font-size: 18px;
  }
  .card-footer-social h3{
    text-align: center;
    font-size: 20px;
  }

  .condicion1{
    width: 325px;
    height: 50px;
      background-color: green;
  }
  .condicion2{
    width: 325px;
    height: 50px;
    background-color: red;
}
.condicion3{
    width: 325px;
    height: 50px;
    background-color: blue;
}
.condicion4{
    width: 325px;
    height: 50px;
    background-color: midnightblue;
}
.condicion5{
    width: 325px;
    height: 50px;
    background-color: cyan;
}
.condicion6{
    width: 325px;
    height: 50px;
    background-color: yellow;
}
.condicion7{
    width: 325px;
    height: 50px;
    background-color: orangered;
}
.condicion8{
    width: 325px;
    height: 50px;
    background-color: brown;
}
.condicion9{
    width: 325px;
    height: 50px;
    background-color: rgb(141, 5, 23);
}
.condicion10{
    width: 325px;
    height: 50px;
    background-color: rgb(141, 127, 5);
}
.condicion11{
    width: 325px;
    height: 50px;
    background-color: grey;
}
.condicion12{
    width: 325px;
    height: 50px;
    background-color: rgb(14, 19, 70);
}
.condicion13{
    width: 325px;
    height: 50px;
    background-color: rgb(31, 245, 145);
}
.condicion14{
    width: 325px;
    height: 50px;
    background-color: rgb(163, 245, 31);
}
.condicion15{
    width: 325px;
    height: 50px;
    background-color: rgb(245, 31, 199);
}
.equipo{
    width: 325px;
    height: 50px;
    background-color: red;
    
}
@media (max-width: 576px) {

    .contenedor__cartas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .tamaño--carta{
        width: 200px;
        height: 150px;
    }
    .cartagrande{
        text-transform: capitalize;
    }
    
    .card{
        background-color: white;
        width: 150px;
        border-radius: 16px;
        margin-top: 50px;
        margin-left: 10px;
    }
    
    .card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(153, 153, 153, 0.383);
    }
    .card-body-img {
        width: 150px;
        height: 100px;
        border: 5px solid white;
        border-radius: 50%;
        margin-top: calc(-48px - 5px);
        background-color: white;
      }
      .card-body-title {
        margin-top: 1rem;
        font-size: 15px;
        text-transform: capitalize;
      }
      .card-body-title span {
        font-weight: 300;
        color: gray;
      }
      .card-body-text {
        font-size: 15px;
        margin-bottom: 10px;
      }
      .card-footer {
        display: flex;
        justify-content: space-around;
      }
      .card-footer-social {
        text-align: center;
        font-size: 10px;
      }
      .card-footer-social h3{
        text-align: center;
        font-size: 15px;
      }
    
      .condicion1{
        width: 150px;
        height: 50px;
        background-color: green;
      }
      .condicion2{
        width: 150px;
        height: 50px;
        background-color: red;
    }
    .condicion3{
        width: 150px;
        height: 50px;
        background-color: blue;
    }
    .condicion4{
        width: 150px;
        height: 50px;
        background-color: midnightblue;
    }
    .condicion5{
        width: 150px;
        height: 50px;
        background-color: cyan;
    }
    .condicion6{
        width: 150px;
        height: 50px;
        background-color: yellow;
    }
    .condicion7{
        width: 150px;
        height: 50px;
        background-color: orangered;
    }
    .condicion8{
        width: 150px;
        height: 50px;
        background-color: brown;
    }
    .condicion9{
        width: 150px;
        height: 50px;
        background-color: rgb(141, 5, 23);
    }
    .condicion10{
        width: 150px;
        height: 50px;
        background-color: rgb(141, 127, 5);
    }
    .condicion11{
        width: 150px;
        height: 50px;
        background-color: grey;
    }
    .condicion12{
        width: 150px;
        height: 50px;
        background-color: rgb(14, 19, 70);
    }
    .condicion13{
        width: 150px;
        height: 50px;
        background-color: rgb(31, 245, 145);
    }
    .condicion14{
        width: 150px;
        height: 50px;
        background-color: rgb(163, 245, 31);
    }
    .condicion15{
        width: 150px;
        height: 50px;
        background-color: rgb(245, 31, 199);
    }
    .equipo{
        width: 150px;
        height: 50px;
        background-color: red;
        
    }




}



  