.barraNavegacion__logo{
    width: 150px;
    height: 100px;
    margin-left: 20px;
    position: absolute;
}
.logo--tamaño{
    width: 200px;
    height: 100px;
}
.barraNavegacion__items{
    display: grid;
    height: 110px;
    grid-template-columns: 160px 180px 160px 160px;  
    grid-template-rows:auto; 
    justify-content: end;
    align-items: flex-end;
    background: linear-gradient(red 98% ,white);
}
.barraNavegacion__items--estilos{
    text-decoration: none;
    font-size: 22px;
    color: white;
}
.barraNavegacion__items--estilos:hover{
    color: black;
}
.barraNavegacion__items--iconos{
    width: 80px;
    height: 70px;
}

@media (max-width: 576px) {

    .barraNavegacion__logo{
        width: 150px;
        height: 100px;
        margin-left: 20px;
        position: absolute;
    }
    .logo--tamaño{
        width: 150px;
        height: 70px;
    }
    .barraNavegacion__items{
        display: grid;
        height: 110px;
        grid-template-columns: 120px 130px 120px 120px;  
        grid-template-rows:auto; 
        justify-content: end;
        align-items: flex-end;
        background: linear-gradient(red 98% ,white);
    }
    .barraNavegacion__items--estilos{
        text-decoration: none;
        font-size: 15px;
        color: white;
    }
    .barraNavegacion__items--estilos:hover{
        color: black;
    }
    .barraNavegacion__items--iconos{
        width: 60px;
        height: 60px;
    }


}